<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}
<body class="black-80 {% if page.class or layout.class %}{{ page.class | default: layout.class | join: ' ' | prepend: ' ' }}{% endif %}">

{% if page.header != false %}
{% include header.html %}
{% endif%}

{{ content }}

{% if page.footer != false %}
{% include footer.html %}
{% endif%}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
